@charset "UTF-8";

* {
    font-family:Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

body {
    background-image: linear-gradient(to right, #034159, #025951);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #d074749c;
}

h1 {
    text-align: center;
    color: #146336;
    text-shadow: 1px 1px 2px #6b32329c;
}

h2 {
    color: #a29b3cb8;
}

p {
    text-align: justify;
}
