body {
    background-color: rgb(33, 33, 33);
    font: 16px Arial, Verdana, Serif;
}

h1 {
    text-align: center;
    color: white;
    
}

p {
    text-align: center;
    font: normal 16px Arial, Verdana, Serif;
}