header {
    background-color: black;
    color: #ffff;
    text-align: center;
    padding: 45px;
    margin: -8px;
    min-width: 350px;
}

header > h1 {
    padding-bottom: 10px;
    font-size: 2.8em;
    font-family: fantasy;
}

header a {
    font-weight: bolder;
    text-decoration: none;
    color: #ffff;
}